*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:gainsboro;
}
.container{
    padding-top:2rem;
    height:30rem;
    width:30rem;
    background-color: #fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2rem;
}
.same{
    display: grid;
    grid-template-columns:1fr 1fr;
}
input{
    width:10rem;
    height:2rem;
}
button{
    cursor: pointer;
    width:10rem;
    height:3rem;
    background-color:#c2f578;
}
@media screen and (min-width:600px){
    html{
        font-size:62.5%;
    }
}
@media screen and (min-width:1024px){
    html{
        font-size:80%;
    }
}
@media screen and (min-width:1440px){
    html{
        font-size:100%;
    }
}
@media screen and (min-width:2560px){
    html{
        font-size:200%;
    }
}
@media screen and (max-width:600px){
    html{
        font-size:35%;
    }
}
@media screen and (max-width:425px){
    html{
        font-size:30%;
    }
}
@media screen and (max-width:375px){
    html{
        font-size:14%;
    }
}
